<!DOCTYPE html>
<html>
<head>
    <title>Ads</title>
</head>
<body>
    <h1>Ads</h1>
    <ul>
        {{#ads}}
        <li>
            <p>{{title}}</p>
            <p>{{comment}}</p>
        </li>
        {{/ads}}
    </ul>
</body>
</html>